body{
	background: url("../images/background.jpeg");
	background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: black;
}
* {
    box-sizing: border-box;
    font-family: 'Alfa Slab One', cursive;
}
.container {
	background-color: black;
    padding: 20px;
    border-radius: 25px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

p{
    color: white;
}
h1 {
    text-align: center;
}

#gifButtonsView{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
img { 
    height: 120px;
    width: 150px;
}
.btn {
    margin: 5px;
    background-color: black;
    border-color: white;
}
.btn:hover {
background-color: #739900;
color: black;
border-color: white;
}
.btn:active {
    background-color: #739900;
}
.form{    
background-color: white;
border-radius: 25px;
}
label {
    letter-spacing: 1px;
}
.gifDiv{
    float: left;
    margin: 3px;
}
.jumbotron {
    background-color: inherit;
    border-radius: 25px;
}
.jumbotron .h1, .jumbotron h1 {
    text-align: center;
    color: white;
    width: 90%;
}